<div class="card-postagem">
  <mat-card class="example-card" *ngFor="let p of postagens">
    <mat-card-header>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="mat-icon-menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Editar postagem</span>
        </button>
        <button mat-menu-item (click)="remover(p)">
          <mat-icon>delete</mat-icon>
          <span>Excluir postagem</span>
        </button>
      </mat-menu>
      <div mat-card-avatar class="example-header-image"><img mat-card-avatar src={{p.usuario.foto}}></div>
      <mat-card-subtitle class="mat-card-nome">{{p.usuario.nome | titlecase}}</mat-card-subtitle>
      <mat-card-title>{{p.titulo}}</mat-card-title>
      <mat-card-subtitle>Destino: {{p.destino}}</mat-card-subtitle>   
    </mat-card-header>
    <img mat-card-image *ngIf="p.fotos.length >= 1" src={{p.fotos[0]}} class="card-img"> 
    <button mat-button (click)="openDialogAbrirImagem(p)" *ngIf="p.fotos.length > 1" class="button-verMais">
      <mat-icon>collections</mat-icon>
    </button> 
    <mat-card-subtitle>Locais a visitar: {{p.locais}}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{p.descricao}}
      </p>
    </mat-card-content>   
    
    <div class="comentarios-buttons">
      <mat-form-field class="comentario-area">
        <mat-label>Digite o seu comentario</mat-label>
        <textarea matInput #comentario></textarea>
      </mat-form-field>
    <div>    
      <mat-card-actions class="card-buttons">
        <button mat-raised-button color="primary" (click)="inserirComentario(p,comentario.value)">Comentar</button>
        <button mat-raised-button matBadge="{{p.like}}" matBadgeColor="primary" (click)="clickLike(p)" class="comentario-like"><mat-icon>thumb_up</mat-icon></button>
      </mat-card-actions>
    </div>
    </div>
    
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel class="panel-exibir">
        <mat-expansion-panel-header >
          <mat-panel-title>
            <span style="color: white;">Exibir todos os comentários</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div class="mat-panel-comentario" *ngFor="let c of p.comentarios; index as i">
          <mat-panel-title *ngIf="i%2===0">
           {{p.comentarios[i] | titlecase }}:
         </mat-panel-title>
         <mat-panel-description *ngIf="i%2===1" style="margin-left: 5px; color: black;">
          {{p.comentarios[i]}}
         </mat-panel-description>
       </div>
      
      </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      </mat-expansion-panel>
    </mat-accordion> 
  </mat-card>
  <div class="example-button-container">
    <button mat-mini-fab color="primary" *ngIf="usuario_logado[0].email!=null" style="background-color: rgb(255, 98, 41);" aria-label="Example icon button with a menu icon"  [routerLink]="['/criarPostagem']">
      <mat-icon>add</mat-icon>
    </button>
</div>
</div> 

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var FirebaseConfig = {
    apiKey: "AIzaSyB8c2dMf9pNcI68PRZhkKUwfmAjFDTOAkY",
    authDomain: "how2go-1d432.firebaseapp.com",
    projectId: "how2go-1d432",
    storageBucket: "how2go-1d432.appspot.com",
    messagingSenderId: "779920744419",
    appId: "1:779920744419:web:d6457d285502db09c9cad6",
    measurementId: "G-832NQ4C5CV"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>