<div class="card-postagem">
  <mat-card class="example-card" *ngFor="let p of postagens">
    <mat-card-header>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="mat-icon-menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Editar postagem</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Excluir postagem</span>
        </button>
      </mat-menu>
      <div mat-card-avatar class="example-header-image"><img mat-card-avatar src={{p.icone}}></div>
      <mat-card-subtitle class="mat-card-nome">Fulano da Silva</mat-card-subtitle>
      <mat-card-title>{{p.titulo}}</mat-card-title>
      <mat-card-subtitle>Destino: {{p.destino}}</mat-card-subtitle>   
    </mat-card-header>
    <img mat-card-image src={{p.foto}} class="card-img">
    <mat-card-subtitle font-weight="bold">Locais a visitar: {{p.locais_a_visitar}}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{p.descricao}}
      </p>
    </mat-card-content>   
    
    <div class="comentarios-buttons">
      <mat-form-field class="comentario-area">
        <mat-label>Digite o seu comentario</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    <div>    
      <mat-card-actions class="card-buttons">
        <button mat-raised-button color="primary">Comentar</button>
        <button mat-raised-button class="comentario-like"><mat-icon>thumb_up</mat-icon></button>
      </mat-card-actions>
    </div>
    </div>
    
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel >
        <mat-expansion-panel-header class="panel-exibir">
          <mat-panel-title>
            Exibir todos os comentários
          </mat-panel-title>
        </mat-expansion-panel-header>
    
        <div *ngFor="let c of p.comentarios" class="mat-panel-comentario">
          <mat-panel-title>
           {{c[0]}}
         </mat-panel-title>
         <mat-panel-description>
           {{c[1]}}
         </mat-panel-description>
       </div>
      
      </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
      </mat-expansion-panel>
    </mat-accordion> 
  </mat-card>
  <div class="example-button-container">
    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" [routerLink]="['/criarPostagem']">
      <mat-icon>add</mat-icon>
    </button>
</div>
</div> 

